@import "tailwindcss";

@theme {

  --color-brand-bg: #FDFBF7;
  --color-brand-black: #0A0A0A;
  --color-brand-red: #FF3B30;
  --color-brand-yellow: #F5D400;

  --font-display: "Archivo Black", sans-serif;
  --font-body: "Inter", sans-serif;
}

@utility text-stroke-black {
  -webkit-text-stroke: 2px #0A0A0A;
}