---
import Hero from "@/components/sections/Hero.astro";
import Layout from "@/layouts/Layout.astro"
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import TechStack from "@/components/sections/TechStack.astro";
import Projects from "@/components/sections/Projects.astro"
import Contact from "@/components/sections/Contact.astro";
---

<Layout title="Camilo Illanes - Full Stack Developer">
	<main>
		<Hero />
		<About />
		<Experience />
		<TechStack />
		<Projects />
		<Contact />
	</main>
</Layout>
