---
import Hero from "@/components/sections/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import About from "@/components/sections/About.astro";
---

<Layout title="Camilo Illanes - Full Stack Developer">
	<main>
		<Hero />
		<About />
	</main>
</Layout>
