---
import Button from "@/components/ui/Button";
import { IconMenu } from "@tabler/icons-react";
import { Link } from "@/components/ui/Link"

const MenuIcon = IconMenu;

const navItems = [
  { label: "Sobre mí", href: "#about" },
  { label: "Experiencia", href: "#experience" },
  { label: "Proyectos", href: "#projects" },
  { label: "Contacto", href: "#contact" },
];
---

<header
  class="w-full flex justify-center py-4 px-8 bg-brand-bg md:bg-brand-bg/90 backdrop-blur-sm border-b-4 border-brand-black sticky top-0 z-50"
>
  <div class="w-full max-w-7xl flex justify-between items-center">
    <a
      href="/#"
      class="font-display text-2xl uppercase font-black tracking-tighter text-brand-black select-none"
    >
      Camilo<span class="text-brand-red">Illanes</span>
    </a>
    <nav class="hidden lg:flex items-center gap-4">
      {
        navItems.map((item) => (
          <Link
            href={item.href}
            label={item.label}
            type="navbar"
          />
        ))
      }
      <Button
        as="a"
        href="/camilo_illanes_cv.pdf"
        target="_blank"
        variant="primary"
        className="ml-4"
      >
        Descargar CV
      </Button>
    </nav>

    <button id="menu-toggle" class=" cursor-pointer lg:hidden flex flex-col gap-1.5 p-2">
      <span class="w-8 h-1 bg-brand-black"></span>
      <span class="w-8 h-1 bg-brand-black"></span>
      <span class="w-8 h-1 bg-brand-black"></span>
    </button>
  </div>

  <div
    id="mobile-menu"
    class="hidden absolute top-19 left-0 w-full bg-brand-bg border-b-4 border-brand-black p-6 flex-col gap-6 lg:hidden shadow-xl"
  >
    {
      navItems.map((item) => (
        <a
          href={item.href}
          class="text-xl font-display uppercase text-center py-2 border-b-2 border-gray-100"
        >
          {item.label}
        </a>
      ))
    }
    <div class="flex justify-center mt-4">
      <Button as="a" href="/camilo_illanes_cv.pdf" target="_blank" variant="primary">
        Descargar CV
      </Button>
    </div>
  </div>
</header>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");

  menuToggle?.addEventListener("click", () => {
    mobileMenu?.classList.toggle("hidden");
    mobileMenu?.classList.toggle("flex");
  });

  mobileMenu?.querySelectorAll("a").forEach((link) => {
    link.addEventListener("click", () => {
      mobileMenu?.classList.add("hidden");
      mobileMenu?.classList.remove("flex");
    });
  });
</script>
