---
interface Props{
  href: string;
  name: string;
  lastname:string;
}

const { href, name, lastname} = Astro.props
---

<a href={href} class="font-display text-2xl uppercase font-black tracking-tighter text-brand-black select-none">
  {name}
  <span class="text-brand-red">{lastname}</span>
</a>